<div class="container">
  <form
    action="/api/blog/contact"
    method="POST"
    id="contactForm"
    class="contact-form post-cta"
    data-gtm="BlogContactForm"
    data-keywords="{{#if metaKeywords}}{{toLowerCase metaKeywords}}{{else}}elasticsearch{{/if}}"
  >
    <h3 class="contact-form__title">Contact Us</h3>
    <p class="contact-form__description post-cta__text"></p>
    <div class="row g-3 mb-3">
      <div class="col-md-6">
        <div class="form-floating ms-lg-auto">
          <input
            id="name"
            type="text"
            name="name"
            class="form-control"
            placeholder="Your Full Name"
            required
          />
          <label for="name"> Your Full Name </label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-floating">
          <input
            id="email"
            type="email"
            name="email"
            class="form-control"
            placeholder="Email"
            required
          />
          <label for="email"> Email </label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-floating ms-lg-auto">
          <input
            id="phone"
            type="tel"
            name="phone"
            class="form-control"
            placeholder="Phone"
          />
          <label for="phone"> Phone </label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-floating">
          <input
            id="company"
            type="text"
            name="company"
            class="form-control"
            placeholder="Company"
          />
          <label for="company"> Company </label>
        </div>
      </div>
    </div>
    <input
      name="b_13b9659b659dcce482526ea2d_11a1b7987b"
      type="text"
      tabindex="-1"
      value=""
    />
    {{#if post}}
    <input name="post" type="hidden" tabindex="-1" value="{{ post.title }}" />
    <input
      name="tags"
      type="hidden"
      tabindex="-1"
      value="{{#each post.tags}}{{
        this.key
      }}{{#unless @last}};{{/unless}}{{/each}}"
    />
    {{/if}}
    <input
      name="privacy"
      type="checkbox"
      tabindex="-1"
      checked="checked"
      hidden
    />
    <div class="d-flex justify-content-center mb-3">
      <div class="g-recaptcha" data-sitekey="{{ recaptchaClientKey }}"></div>
    </div>
    <div class="contact-form__privacy">
      By clicking the button below you’re agreeing to our
      <a href="https://bigdataboutique.com/privacy" target="_blank">
        Privacy Policy
      </a>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <button class="button-filled" type="submit" data-gtm="BlogContactForm">
          Send
        </button>
      </div>
    </div>
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
      <div
        class="success-toast toast align-items-center text-bg-success text-start border-0"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
      >
        <div class="d-flex">
          <div class="toast-body" style="font-size: 18px">
            Your submission has been sent!
          </div>
        </div>
      </div>
    </div>
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
      <div
        class="error-toast toast align-items-center text-bg-danger text-start border-0"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
      >
        <div class="d-flex">
          <div class="toast-body" style="font-size: 18px">
            Failed to process your submission.<br />Please try again!
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
