{{#unless isLocalhost}}
<!-- See https://developers.google.com/tag-manager/devguide#datalayer -->
<script>
    window.dataLayer = window.dataLayer || [];
</script>
<!-- Google Tag Manager -->
<script>
    (function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-PJDLG3H');
</script>
<!-- End Google Tag Manager -->
<!-- Quora Pixel Code (JS Helper) -->
<script>
    !function (q, e, v, n, t, s) { if (q.qp) return; n = q.qp = function () { n.qp ? n.qp.apply(n, arguments) : n.queue.push(arguments); }; n.queue = []; t = document.createElement(e); t.async = !0; t.src = v; s = document.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s); }(window, 'script', 'https://a.quora.com/qevents.js');
    qp('init', '174a276186a34038b2dbdd3734a69d78');
    qp('track', 'ViewContent');
</script>
<noscript><img height="1" width="1" style="display:none" src="https://q.quora.com/_/ad/174a276186a34038b2dbdd3734a69d78/pixel?tag=ViewContent&noscript=1" /></noscript>
<!-- End of Quora Pixel Code -->
{{/unless}}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" rel="stylesheet"/>
<link href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.0.3/build/styles/default.min.css" rel="stylesheet"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap" rel="stylesheet">

<title>{{#if title}}{{title}}{{else}}{{blogDescription}}{{/if}} - {{blogTitle}}</title>

{{#if description}}
    <meta name="Description" content="{{description}}">
{{/if}}
{{#if metaKeywords}}
    <meta name='keywords' content="{{metaKeywords}}">
{{/if}}
{{#if canonicalUrl}}
    <link rel="canonical" href="{{canonicalUrl}}" />
{{/if}}
<meta http-equiv="Content-Security-Policy" content="default-src {{#if isLocalhost}}http:{{else}}https:{{/if}} 'unsafe-inline';connect-src wss: {{#if isLocalhost}}http:{{else}}https:{{/if}}">
{{#each og}}
    {{#if this.content}}
        <meta property="{{this.property}}" content="{{this.content}}" />
    {{/if}}
{{/each}}

<link rel="shortcut icon" href="/static/theme/favicon/favicon.ico">
<link rel="apple-touch-icon" sizes="180x180" href="/static/theme/favicon/apple-touch-icon.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/theme/favicon/apple-touch-icon-72x72-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="/static/theme/favicon/apple-touch-icon-76x76-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/theme/favicon/apple-touch-icon-114x114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/static/theme/favicon/apple-touch-icon-120x120-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/theme/favicon/apple-touch-icon-144x144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/static/theme/favicon/apple-touch-icon-152x152-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="180x180" href="/static/theme/favicon/apple-touch-icon-180x180-precomposed.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/theme/favicon/favicon-16x16.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/theme/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="192x192" href="/static/theme/favicon/android-chrome-192x192.png">
<link rel="manifest" href="/static/theme/favicon/site.webmanifest">
<link rel="mask-icon" href="/static/theme/favicon/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-config" content="/static/theme/favicon/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

<link id="AtomLink" title="RSS" type="application/rss+xml" rel="alternate" href="{{blogRoutePrefix}}/rss">

<!-- Optional JavaScript -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<link rel="stylesheet" href="/static/theme/css/style.css">
