<div class="col-md-{{#if col}}{{col}}{{else}}4{{/if}} pb-5 d-flex">
  <div class="post-box card">
    <a href="{{this.url}}" class="post-box__img">
      {{> imgix-image src=this.metadata.header_image_url lazyLoad=true}}
    </a>
    <div class="post-box__content p-3">
      <div class="post-box__time">
        <span datetime="{{this.published_at}}"> {{this.published_at_str}}</span>
        {{#if this.reading_time}}
          <span>{{this.reading_time}}</span>
        {{/if}}
      </div>
      <h4 class="post-box__title">
        <a href="{{this.url}}">
          {{this.title}}
        </a>
      </h4>
      {{# if this.series}}
      <a class="serie serie-solid my-2" href="{{this.series_url}}">
        Series: {{this.series}}
      </a>
      {{/if}}
      {{#each tags}}
        <a class="tag tag-solid my-2" href="{{this.url}}">
          {{this.key}}
        </a>
      {{/each}}
    </div>
  </div>
</div>
