<div class="post-box">
  <a href="{{this.url}}"><img  class="post_thumbnail"  src="{{this.metadata.header_image_url}}" alt=""></a>
  <div class="post-box__content">
      <div class="post-box__content-header">
         
        <div class="duration-and-location">
          <span class="duration" datetime="{{this.published_at}}"> {{this.published_at_str}}</span>
          {{#if this.reading_time}}
              <span class="read">{{this.reading_time}}</span>
          {{/if}}
        </div>
         <a href="{{this.url}}">
              <div class="post-title">{{this.title}}<br></div>
          </a> 
      </div> 
      <div class="post-box__content-footer">
          {{# if this.series}}
          <a href="{{this.series_url}}">
            <div class="series-badge badge">Series: {{this.series}}</div>
          </a>
          {{/if}}
          {{#each tags}}
            <a href="{{this.url}}">
              <div class="tags-badge badge">{{this.key}}</div>
            </a>
          {{/each}}
      </div>
  </div>
</div>